:root, page {
    --primary-color: #007aff;
    --primary-color-dark: #398ade;
    --primary-color-disabled: #9acafc;
    --primary-color-light: #ecf5ff;
    --page-bg-color: #f7f7f7;
}

/* 多行超出隐藏 */
.multi-hidden {
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}